body {
    /* padding: 25px; */
    /* overflow: hidden; */
}

.navbar {
    background-color: blue;
}

.input-group-text {
    background-color: blue;
    color: white;
}

.navbar a {
    color: white;
}
.gifArea{
    width: 100%;
    
}
.gifArea img{
    width: 100%;
    height: 350px;
    padding: 0 ;
    margin: 0;
}
.activity{
    position: fixed;
    /* margin: -25px; */
    width: 100%;
    z-index: 100;
}

.jumbotron {
    /* background-attachment: fixed !important; */
    position: relative;
    margin:0;
    padding-bottom: 50px;
}

.jumbotron h1 {
    position: absolute;
    top: 50%;
}

.jumbotron h3 {
    position: absolute;
    top: 75%;
}

.profileArea {
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    transition: transform 0.6s 0.5s;
   
}

.container-fluid {
    width: 30%;
}

#chart {
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
}

.chart-div {
    height: 250px;
}

#chart-row {
    height: 0;
    background: transparent;
    padding: 0;
}

#chart-row td {
    padding: 0;
    height: 0;
}

.table {
    margin-bottom: 0;
}

#season-stats {
    border: 1px silver solid;
}

table {
    border-radius: 20%;
}

#player-prof {
    width: 40%;
}

.card-horizontal {
    padding: 5px 5px 5px 5px;
    display: flex;
    flex: 1 1 auto;
    /* border: solid 1px silver; */
    width: 350px;
}

.card-body {
    padding-left: 5px;
}

h4 {
    padding: 5px;
}

#stats-body>tr>td, #trend-body>#trend-stats>td {
    padding-left: 50px;
}
.inActivity{
    display: none;
}
#results{
    padding-top: 50px;
}